# CompareM2 runtime
.snakemake
results_comparem2
output_comparem2/
singularity_images
databases
tests
trash

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# R
.Rproj.user
.Rhistory
.RData

# pixi environments
.pixi/*
!.pixi/config.toml

# OS
.DS_Store
._*

# Editors / IDEs
.vscode/
.idea/

# Environments
.env
.venv

# mkdocs
/site

# Misc
*.log
